### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
student_df = student_data.rename(columns={"student_name":"Name",
                                                  "gender":"Gender",
                                                  "grade":"Grade",
                                                  "school_name":"School Name",
                                                  "reading_score":"Reading Score",
                                                  "math_score": "Math Score"})
student_df.head()

,Student ID,Name,Gender,Grade,School Name,Reading Score,Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
school_df = school_data.rename(columns={"school_name":"School Name",
                                      "type":"School Type",
                                      "size":"School Size",
                                      "budget":"School Budget"})
school_df.head()

   School ID            School Name School Type  School Size  School Budget
0          0      Huang High School    District         2917        1910635
1          1   Figueroa High School    District         2949        1884411
2          2    Shelton High School     Charter         1761        1056600
3          3  Hernandez High School    District         4635        3022020
4          4    Griffin High School     Charter         1468         917500

In [4]:
# Combine the data into a single dataset.  
combined_data = pd.merge(student_df, school_df, how="left", on=['School Name', 'School Name'])

combined_df = combined_data[['Student ID',
                            'Name',
                            'Gender',
                            'Grade',
                            'Reading Score',
                            'Math Score',
                            'School Name',
                            'School ID',
                            'School Type',
                            'School Size',
                            'School Budget']]

combined_df['Per Student Budget'] = combined_df['School Budget'] / combined_df['School Size']

combined_df.head()

/Users/beaujeffrey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

,Student ID,Name,Gender,Grade,Reading Score,Math Score,School Name,School ID,School Type,School Size,School Budget,Per Student Budget
0,0,Paul Bradley,M,9th,66,79,Huang High School,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,94,61,Huang High School,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,90,60,Huang High School,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,67,58,Huang High School,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,97,84,Huang High School,0,District,2917,1910635,655.0

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
total_schools = combined_df['School Name'].nunique()

st_index = combined_df.index
total_students = len(st_index)

# Can't figure out another way to do it. I'm concerned it'd be problematic to take unique values from
# combined list in the event there are two schools with the same budget.
total_budget = school_df['School Budget'].count()

avg_math_score = combined_df['Math Score'].mean()

avg_read_score = combined_df['Reading Score'].mean()

passing_math = len(combined_df[combined_df['Math Score'] >= 70]) / total_students

passing_read = len(combined_df[combined_df['Reading Score'] >= 70]) / total_students

overall_passing = len(combined_df[(combined_df['Math Score']>=70) & (combined_df['Reading Score']>=70)]) / total_students

# Create Disctrict Summary DF
dist_summary_df = pd.DataFrame({'Total Schools': [total_schools],
                                'Total Students': total_students,
                                'Total Budget': total_budget,
                                'Average Math Score': avg_math_score,
                                'Average Reading Score': avg_read_score,
                                'Students Passing Math (%)': passing_math,
                                'Students Passing Reading (%)': passing_read,
                                'Students Overall Passing (%)': overall_passing
                                })

# Dictrict Summary DF formatting
dist_summary_df['Total Students'] = dist_summary_df['Total Students'].map('{:,}'.format)
dist_summary_df['Total Budget'] = dist_summary_df['Total Budget'].astype(float).map(
    '${:,.2f}'.format)
dist_summary_df['Average Math Score'] = dist_summary_df['Average Math Score'].map('{:.2f}'.format)
dist_summary_df['Average Reading Score'] = dist_summary_df['Average Reading Score'].map('{:.2f}'.format)
dist_summary_df['Students Passing Math (%)'] = dist_summary_df['Students Passing Math (%)'].map('{:.2%}'.format)
dist_summary_df['Students Passing Reading (%)'] = dist_summary_df['Students Passing Reading (%)'].map('{:.2%}'.format)
dist_summary_df['Students Overall Passing (%)'] = dist_summary_df['Students Overall Passing (%)'].map('{:.2%}'.format)

dist_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Students Passing Math (%),Students Passing Reading (%),Students Overall Passing (%)
0,15,"39,170",$15.00,78.99,81.88,74.98%,85.81%,65.17%

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
combined_df['Students Passing Reading (%)'] = combined_df['Reading Score'] >= 70
combined_df['Students Passing Math (%)'] = combined_df['Math Score'] >= 70
combined_df['Students Overall Passing (%)'] = combined_df['Students Passing Math (%)'] & combined_df['Students Passing Reading (%)']
combined_df

combined_school_df = combined_df[['Student ID',
                                  'Name',
                                  'Gender',
                                  'Grade',
                                  'Reading Score',
                                  'Math Score',
                                  'School Name',
                                  'School ID',
                                  'School Type',
                                  'School Size',
                                  'School Budget',
                                  'Per Student Budget',
                                  'Students Passing Math (%)',
                                  'Students Passing Reading (%)',
                                  'Students Overall Passing (%)'
                                 ]]
# combined_school_df

grouped_schools_df = combined_school_df.groupby(['School Name'])
# grouped_schools_df.count().head()

# grouped_schools_df.groupby(grouped_schools_df['School Name'], as_index=True, sort=False, group_keys=True).size()

school_name = grouped_schools_df['School Name'].unique()
# school_name

school_types = grouped_schools_df['School Type'].unique()
school_types = school_types.str[0]
# Thanks to TA Farshad for explaining how to remove the brackets
# school_types

student_count = grouped_schools_df['Student ID'].count()
# student_count

school_budget = grouped_schools_df['School Budget'].unique()
# school_budget

per_student_budget = grouped_schools_df['Per Student Budget'].unique()
per_student_budget = per_student_budget.str[0]
# per_student_budget

avg_stu_math = grouped_schools_df['Math Score'].mean()
# avg_stu_math

avg_stu_read = grouped_schools_df['Reading Score'].mean()
# avg_stu_read

# I'm not exactly sure how this actually works. Credit to classmate Kerry Harp for sharing her code.
# I was stuck on this for a long time.
math_passing_percent = grouped_schools_df['Students Passing Math (%)'].mean()
# avg_stu_read

read_passing_percent = grouped_schools_df['Students Passing Reading (%)'].mean()
# read_passing_percent

overall_passing_percent = grouped_schools_df['Students Overall Passing (%)'].mean()
# overall_passing_percent

school_summary_df = pd.DataFrame({'School Type' : school_types,
                                  'Total Students' : student_count,
                                  'Total Budget' : school_budget,
                                  'Per Student Budget' : per_student_budget,
                                  'Average Math Score' : avg_stu_math,
                                  'Average Reading Score' : avg_stu_read,
                                  'Students Passing Math (%)' : math_passing_percent, 
                                  'Students Passing Reading (%)' : read_passing_percent,
                                  'Students Overall Passing (%)' : overall_passing_percent,
                                 })

school_summary_df['Total Students'] = school_summary_df['Total Students'].map('{:,}'.format)
school_summary_df['Total Budget'] = school_summary_df['Total Budget'].astype(float).map(
    "${:,.2f}".format)
school_summary_df['Per Student Budget'] = school_summary_df['Per Student Budget'].astype(float).map(
    "${:,.2f}".format)
school_summary_df['Average Math Score'] = school_summary_df['Average Math Score'].map('{:.2f}'.format)
school_summary_df['Average Reading Score'] = school_summary_df['Average Reading Score'].map('{:.2f}'.format)
school_summary_df['Students Passing Math (%)'] = school_summary_df['Students Passing Math (%)'].map('{:.2%}'.format)
school_summary_df['Students Passing Reading (%)'] = school_summary_df['Students Passing Reading (%)'].map('{:.2%}'.format)
school_summary_df['Students Overall Passing (%)'] = school_summary_df['Students Overall Passing (%)'].map('{:.2%}'.format)

school_summary_df.reset_index()

school_summary_df.index.name=None

school_summary_df.head()

/Users/beaujeffrey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/beaujeffrey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/beaujeffrey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Students Passing Math (%),Students Passing Reading (%),Students Overall Passing (%)
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [7]:
# Why does the heading keep getting offset? Is there a way to align this without reseting the index?

top_overall_sort_df = school_summary_df.sort_values('Students Overall Passing (%)', ascending=False)

top_overall_sort_df.reset_index()

top_overall_sort_df.index.name=None

top_overall_sort_df.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Students Passing Math (%),Students Passing Reading (%),Students Overall Passing (%)
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [8]:
bottom_overall_sort_df = top_overall_sort_df.sort_values('Students Overall Passing (%)', ascending=True)

bottom_overall_sort_df.reset_index()

bottom_overall_sort_df.index.name=None

bottom_overall_sort_df.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Students Passing Math (%),Students Passing Reading (%),Students Overall Passing (%)
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [9]:
math_by_grade_df = combined_df[['School Name',
                                   'Name',
                                   'Grade', 
                                   'Math Score']]

math_by_grade_df.head()

ninth_grade_math = math_by_grade_df.loc[math_by_grade_df['Grade'] == "9th"].groupby('School Name')['Math Score'].mean()
# ninth_grade_math

tenth_grade_math = math_by_grade_df.loc[math_by_grade_df['Grade'] == "10th"].groupby('School Name')['Math Score'].mean()
# tenth_grade_math

eleventh_grade_math = math_by_grade_df.loc[math_by_grade_df['Grade'] == "11th"].groupby('School Name')['Math Score'].mean()
# eleventh_grade_math

twelfth_grade_math = math_by_grade_df.loc[math_by_grade_df['Grade'] == "12th"].groupby('School Name')['Math Score'].mean()
# twelfth_grade_math

math_avg_by_schools_df = pd.DataFrame({'9th': ninth_grade_math,
                                       '10th': tenth_grade_math,
                                       '11th': eleventh_grade_math,
                                       '12th': twelfth_grade_math
                                      })

math_avg_by_schools_df['9th'] = math_avg_by_schools_df['9th'].map('{:.2f}'.format)
math_avg_by_schools_df['10th'] = math_avg_by_schools_df['10th'].map('{:.2f}'.format)
math_avg_by_schools_df['11th'] = math_avg_by_schools_df['11th'].map('{:.2f}'.format)
math_avg_by_schools_df['12th'] = math_avg_by_schools_df['12th'].map('{:.2f}'.format)

math_avg_by_schools_df.reset_index()

math_avg_by_schools_df.index.name=None

math_avg_by_schools_df

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [10]:
read_by_grade_df = combined_df[['School Name',
                                'Name',
                                'Grade', 
                                'Reading Score']]

read_by_grade_df.head()

ninth_grade_read = read_by_grade_df.loc[read_by_grade_df['Grade'] == "9th"].groupby('School Name')['Reading Score'].mean()
# ninth_grade_read

tenth_grade_read = read_by_grade_df.loc[read_by_grade_df['Grade'] == "10th"].groupby('School Name')['Reading Score'].mean()
# tenth_grade_read

eleventh_grade_read = read_by_grade_df.loc[read_by_grade_df['Grade'] == "11th"].groupby('School Name')['Reading Score'].mean()
# eleventh_grade_read

twelfth_grade_read = read_by_grade_df.loc[read_by_grade_df['Grade'] == "12th"].groupby('School Name')['Reading Score'].mean()
# twelfth_grade_read

read_avg_by_schools_df = pd.DataFrame({'9th': ninth_grade_read,
                                       '10th': tenth_grade_read,
                                       '11th': eleventh_grade_read,
                                       '12th': twelfth_grade_read
                                      })

read_avg_by_schools_df['9th'] = read_avg_by_schools_df['9th'].map('{:.2f}'.format)
read_avg_by_schools_df['10th'] = read_avg_by_schools_df['10th'].map('{:.2f}'.format)
read_avg_by_schools_df['11th'] = read_avg_by_schools_df['11th'].map('{:.2f}'.format)
read_avg_by_schools_df['12th'] = read_avg_by_schools_df['12th'].map('{:.2f}'.format)

read_avg_by_schools_df.reset_index()

read_avg_by_schools_df.index.name=None

read_avg_by_schools_df

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [33]:
scores_by_school_df = combined_df[['School Name',
                                  'Reading Score',
                                  'Math Score',
                                  'Per Student Budget',
                                  'Students Passing Math (%)',
                                  'Students Passing Reading (%)',
                                  'Students Overall Passing (%)'
                                 ]]
# scores_by_school_df.head()

# Find min and max of per student budget
budget_max = scores_by_school_df['Per Student Budget'].max()
budget_min = scores_by_school_df['Per Student Budget'].min()
# print(f'max: {budget_max}')
# print(f'min: {budget_min}')

# find range of per student budget
budget_range = budget_max - budget_min
# print(f'range: {budget_range}')

# split range into 4 even groups using an increment
budget_bin_increments = budget_range / 4
# print(f'increments: {budget_bin_increments}')

# create budget bin
budget_bins = [budget_min - 1,
               budget_min + budget_bin_increments,
               budget_min + (budget_bin_increments * 2),
               budget_min + (budget_bin_increments * 3),
               budget_max + 1
              ]
# print(budget_bins)

# turn bin increments into strings for labels
bb_str_min = str("{:.2f}".format(budget_min))
bb_str_1 = str("{:.2f}".format(budget_min + budget_bin_increments))
bb_str_2 = str("{:.2f}".format(budget_min + (budget_bin_increments * 2)))
bb_str_3 = str("{:.2f}".format(budget_min + (budget_bin_increments * 3)))
bb_str_max = str("{:.2f}".format(budget_max))

budget_bin_labels = [f'${bb_str_min}-{bb_str_1}',
                    f'${bb_str_1}-{bb_str_2}',
                    f'${bb_str_2}-{bb_str_3}',
                    f'${bb_str_3}-{bb_str_max}']
# print(budget_bin_labels)

scores_by_school_df['Spending Ranges (Per Student)'] = pd.cut(scores_by_school_df['Per Student Budget'],budget_bins, labels=budget_bin_labels, include_lowest=True)
scores_by_school_df

scores_by_school_grouped_df = scores_by_school_df.groupby('Spending Ranges (Per Student)')
scores_by_school_grouped_df.count().head()

avg_math_by_school = scores_by_school_grouped_df['Math Score'].mean()
avg_read_by_school = scores_by_school_grouped_df['Reading Score'].mean()
math_pass_school = scores_by_school_grouped_df['Students Passing Math (%)'].mean()
read_pass_school = scores_by_school_grouped_df['Students Passing Reading (%)'].mean()
overall_pass_school = scores_by_school_grouped_df['Students Overall Passing (%)'].mean()

school_spending_df = pd.DataFrame({'Average Math Score': avg_math_by_school,
                                  'Average Reading Score': avg_read_by_school,
                                  'Students Passing Math (%)': math_pass_school,
                                  'Students Passing Reading (%)': read_pass_school,
                                   'Students Overall Passing (%)': overall_pass_school})

school_spending_df['Average Math Score'] = school_spending_df['Average Math Score'].map('{:.2f}'.format)
school_spending_df['Average Reading Score'] = school_spending_df['Average Reading Score'].map('{:.2f}'.format)
school_spending_df['Students Passing Math (%)'] = school_spending_df['Students Passing Math (%)'].map('{:.2%}'.format)
school_spending_df['Students Passing Reading (%)'] = school_spending_df['Students Passing Reading (%)'].map('{:.2%}'.format)
school_spending_df['Students Overall Passing (%)'] = school_spending_df['Students Overall Passing (%)'].map('{:.2%}'.format)

school_spending_df

/Users/beaujeffrey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Average Math Score,Average Reading Score,Students Passing Math (%),Students Passing Reading (%),Students Overall Passing (%)
Spending Ranges (Per Student),,,,,
$578.00-597.25,83.36,83.96,93.70%,96.69%,90.64%
$597.25-616.50,83.53,83.84,94.12%,95.89%,90.12%
$616.50-635.75,78.48,81.67,72.77%,85.40%,62.83%
$635.75-655.00,77.42,81.15,68.34%,81.82%,56.07%

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type