### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
student_df = student_data.rename(columns={"student_name":"Name",
                                                  "gender":"Gender",
                                                  "grade":"Grade",
                                                  "school_name":"School Name",
                                                  "reading_score":"Reading Score",
                                                  "math_score": "Math Score"})
student_df.head()

,Student ID,Name,Gender,Grade,School Name,Reading Score,Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
school_df = school_data.rename(columns={"school_name":"School Name",
                                      "type":"School Type",
                                      "size":"School Size",
                                      "budget":"School Budget"})
school_df.head()

   School ID            School Name School Type  School Size  School Budget
0          0      Huang High School    District         2917        1910635
1          1   Figueroa High School    District         2949        1884411
2          2    Shelton High School     Charter         1761        1056600
3          3  Hernandez High School    District         4635        3022020
4          4    Griffin High School     Charter         1468         917500

In [4]:
# Combine the data into a single dataset.  
combined_data = pd.merge(student_df, school_df, how="left", on=['School Name', 'School Name'])

combined_df = combined_data[['Student ID',
                            'Name',
                            'Gender',
                            'Grade',
                            'Reading Score',
                            'Math Score',
                            'School Name',
                            'School ID',
                            'School Type',
                            'School Size',
                            'School Budget']]

combined_df['Per Student Budget'] = combined_df['School Budget'] / combined_df['School Size']

combined_df.head()

/Users/beaujeffrey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

,Student ID,Name,Gender,Grade,Reading Score,Math Score,School Name,School ID,School Type,School Size,School Budget,Per Student Budget
0,0,Paul Bradley,M,9th,66,79,Huang High School,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,94,61,Huang High School,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,90,60,Huang High School,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,67,58,Huang High School,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,97,84,Huang High School,0,District,2917,1910635,655.0

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
total_schools = combined_df['School Name'].nunique()

st_index = combined_df.index
total_students = len(st_index)

total_budget = school_df['School Budget'].count()

avg_math_score = combined_df['Math Score'].mean()

avg_read_score = combined_df['Reading Score'].mean()

passing_math = len(combined_df[combined_df['Math Score'] >= 70]) / total_students

passing_read = len(combined_df[combined_df['Reading Score'] >= 70]) / total_students

overall_passing = len(combined_df[(combined_df['Math Score']>=70) & (combined_df['Reading Score']>=70)]) / total_students

# Create Disctrict Summary DF
dist_summary_df = pd.DataFrame({'Total Schools': [total_schools],
                                'Total Students': total_students,
                                'Total Budget': total_budget,
                                'Average Math Score': avg_math_score,
                                'Average Reading Score': avg_read_score,
                                'Students Passing Math (%)': passing_math,
                                'Students Passing Reading (%)': passing_read,
                                'Students Overall Passing (%)': overall_passing
                                })

# Dictrict Summary DF formatting
dist_summary_df['Total Students'] = dist_summary_df['Total Students'].map('{:,}'.format)
dist_summary_df['Total Budget'] = dist_summary_df['Total Budget'].astype(float).map(
    '${:,.2f}'.format)
dist_summary_df['Average Math Score'] = dist_summary_df['Average Math Score'].map('{:.2f}'.format)
dist_summary_df['Average Reading Score'] = dist_summary_df['Average Reading Score'].map('{:.2f}'.format)
dist_summary_df['Students Passing Math (%)'] = dist_summary_df['Students Passing Math (%)'].map('{:.2%}'.format)
dist_summary_df['Students Passing Reading (%)'] = dist_summary_df['Students Passing Reading (%)'].map('{:.2%}'.format)
dist_summary_df['Students Overall Passing (%)'] = dist_summary_df['Students Overall Passing (%)'].map('{:.2%}'.format)

dist_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Students Passing Math (%),Students Passing Reading (%),Students Overall Passing (%)
0,15,"39,170",$15.00,78.99,81.88,74.98%,85.81%,65.17%

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
combined_df['Students Passing Reading (%)'] = combined_df['Reading Score'] >= 70
combined_df['Students Passing Math (%)'] = combined_df['Math Score'] >= 70
combined_df['Students Overall Passing (%)'] = combined_df['Students Passing Math (%)'] & combined_df['Students Passing Reading (%)']
combined_df

combined_school_df = combined_df[['Student ID',
                                  'Name',
                                  'Gender',
                                  'Grade',
                                  'Reading Score',
                                  'Math Score',
                                  'School Name',
                                  'School ID',
                                  'School Type',
                                  'School Size',
                                  'School Budget',
                                  'Per Student Budget',
                                  'Students Passing Math (%)',
                                  'Students Passing Reading (%)',
                                  'Students Overall Passing (%)'
                                 ]]
# combined_school_df

grouped_schools_df = combined_school_df.groupby(['School Name'])
# grouped_schools_df.count().head()

school_name = grouped_schools_df['School Name'].unique()
# school_name

school_types = grouped_schools_df['School Type'].unique()
school_types = school_types.str[0]
# Thanks to TA Farshad for explaining how to remove the brackets
# school_types

student_count = grouped_schools_df['Student ID'].count()
# student_count

school_budget = grouped_schools_df['School Budget'].unique()
# school_budget

per_student_budget = grouped_schools_df['Per Student Budget'].unique()
per_student_budget = per_student_budget.str[0]
# per_student_budget

avg_stu_math = grouped_schools_df['Math Score'].mean()
# avg_stu_math

avg_stu_read = grouped_schools_df['Reading Score'].mean()
# avg_stu_read

math_passing_percent = grouped_schools_df['Students Passing Math (%)'].mean()
# avg_stu_read

read_passing_percent = grouped_schools_df['Students Passing Reading (%)'].mean()
# read_passing_percent

overall_passing_percent = grouped_schools_df['Students Overall Passing (%)'].mean()
# overall_passing_percent

school_summary_df = pd.DataFrame({'School Type' : school_types,
                                  'Total Students' : student_count,
                                  'Total Budget' : school_budget,
                                  'Per Student Budget' : per_student_budget,
                                  'Average Math Score' : avg_stu_math,
                                  'Average Reading Score' : avg_stu_read,
                                  'Students Passing Math (%)' : math_passing_percent, 
                                  'Students Passing Reading (%)' : read_passing_percent,
                                  'Students Overall Passing (%)' : overall_passing_percent
                                 })

school_summary_df['Total Students'] = school_summary_df['Total Students'].map("{:,}".format)
school_summary_df['Total Budget'] = school_summary_df['Total Budget'].astype(float).map(
    "${:,.2f}".format)
school_summary_df['Per Student Budget'] = school_summary_df['Per Student Budget'].astype(float).map(
    "${:,.2f}".format)
school_summary_df['Average Math Score'] = school_summary_df['Average Math Score'].map("{:.2f}".format)
school_summary_df['Average Reading Score'] = school_summary_df['Average Reading Score'].map("{:.2f}".format)
school_summary_df['Students Passing Math (%)'] = school_summary_df['Students Passing Math (%)'].map('{:.2%}'.format)
school_summary_df['Students Passing Reading (%)'] = school_summary_df['Students Passing Reading (%)'].map('{:.2%}'.format)
school_summary_df['Students Overall Passing (%)'] = school_summary_df['Students Overall Passing (%)'].map('{:.2%}'.format)

school_summary_df.reset_index().head()

/Users/beaujeffrey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/beaujeffrey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/beaujeffrey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,School Name,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Students Passing Math (%),Students Passing Reading (%),Students Overall Passing (%)
0,Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
1,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
2,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
3,Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [7]:
top_overall_sort_df = school_summary_df.sort_values('Students Overall Passing (%)', ascending=False)
top_overall_sort_df.reset_index().head()
# Why does the heading keep getting offset? Is there a way to align this without reseting the index?

,School Name,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Students Passing Math (%),Students Passing Reading (%),Students Overall Passing (%)
0,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
1,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
2,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
3,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
4,Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type